# WEB

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.getOrCreate()

## Reviews

In [3]:
def etl_reviews():
    raw_df = spark.read.csv("reviews_data.csv", header=True)

    # Date
#     df = raw_df.select("Date")
    df = df.withColumn("Date", regexp_replace("Date", "Reviewed", ""))
    df = df.withColumn("Date", trim("Date"))
    df = df.withColumn("Date", regexp_replace("Date", ",", ""))
    df = df.withColumn("Date", regexp_replace("Date", "\.", ""))
    df = df.withColumn("month", split("Date", " ").getItem(0))\
            .withColumn("day", split("Date", " ").getItem(1))\
            .withColumn("year", split("Date", " ").getItem(2))

    df = df.withColumn("month", when(col("month") == "Jan", "1")
                       .when(col("month") == "Feb", "2")
                       .when(col("month") == "March", "3")
                       .when(col("month") == "April", "4")
                       .when(col("month") == "May", "5")
                       .when(col("month") == "June", "6")
                       .when(col("month") == "July", "7")
                       .when(col("month") == "Aug", "8")
                       .when(col("month") == "Sept", "9")
                       .when(col("month") == "Oct", "10")
                       .when(col("month") == "Nov", "11")
                       .otherwise(12)
                )

    return df

In [72]:
df = etl_reviews()

df.show(100, truncate=False)

+-------------+-----+---+----+
|Date         |month|day|year|
+-------------+-----+---+----+
|Sept 13 2023 |9    |13 |2023|
|July 16 2023 |7    |16 |2023|
|July 5 2023  |7    |5  |2023|
|May 26 2023  |5    |26 |2023|
|Jan 22 2023  |1    |22 |2023|
|Sept 14 2023 |9    |14 |2023|
|Sept 8 2023  |9    |8  |2023|
|Aug 25 2023  |8    |25 |2023|
|Aug 5 2023   |8    |5  |2023|
|Aug 4 2023   |8    |4  |2023|
|July 27 2023 |7    |27 |2023|
|July 21 2023 |7    |21 |2023|
|July 21 2023 |7    |21 |2023|
|July 16 2023 |7    |16 |2023|
|July 6 2023  |7    |6  |2023|
|July 6 2023  |7    |6  |2023|
|June 28 2023 |6    |28 |2023|
|June 11 2023 |6    |11 |2023|
|June 3 2023  |6    |3  |2023|
|May 30 2023  |5    |30 |2023|
|May 22 2023  |5    |22 |2023|
|May 15 2023  |5    |15 |2023|
|May 11 2023  |5    |11 |2023|
|April 30 2023|4    |30 |2023|
|April 28 2023|4    |28 |2023|
|April 20 2023|4    |20 |2023|
|March 30 2023|3    |30 |2023|
|March 29 2023|3    |29 |2023|
|March 10 2023|3    |10 |2023|
|March 3 2023 |3    |3  |2023|
|Feb 22 2023  |2    |22 |2023|
|Feb 19 2023  |2    |19 |2023|
|Feb 9 2023   |2    |9  |2023|
|Feb 5 2023   |2    |5  |2023|
|Feb 4 2023   |2    |4  |2023|
|Feb 1 2023   |2    |1  |2023|
|Feb 1 2023   |2    |1  |2023|
|Jan 30 2023  |1    |30 |2023|
|Jan 1 2023   |1    |1  |2023|
|Dec 29 2022  |12   |29 |2022|
|Dec 13 2022  |12   |13 |2022|
|Nov 29 2022  |11   |29 |2022|
|Nov 29 2022  |11   |29 |2022|
|Nov 17 2022  |11   |17 |2022|
|Nov 17 2022  |11   |17 |2022|
|Nov 11 2022  |11   |11 |2022|
|Nov 10 2022  |11   |10 |2022|
|Nov 6 2022   |11   |6  |2022|
|Nov 6 2022   |11   |6  |2022|
|Oct 29 2022  |10   |29 |2022|
|Oct 26 2022  |10   |26 |2022|
|Oct 21 2022  |10   |21 |2022|
|Oct 13 2022  |10   |13 |2022|
|Oct 10 2022  |10   |10 |2022|
|Oct 8 2022   |10   |8  |2022|
|Oct 8 2022   |10   |8  |2022|
|Sept 29 2022 |9    |29 |2022|
|Sept 23 2022 |9    |23 |2022|
|Sept 23 2022 |9    |23 |2022|
|Aug 27 2022  |8    |27 |2022|
|Aug 7 2022   |8    |7  |2022|
|Aug 1 2022   |8    |1  |2022|
|July 18 2022 |7    |18 |2022|
|July 16 2022 |7    |16 |2022|
|July 13 2022 |7    |13 |2022|
|July 9 2022  |7    |9  |2022|
|June 27 2022 |6    |27 |2022|
|June 25 2022 |6    |25 |2022|
|June 17 2022 |6    |17 |2022|
|June 15 2022 |6    |15 |2022|
|June 13 2022 |6    |13 |2022|
|May 31 2022  |5    |31 |2022|
|May 31 2022  |5    |31 |2022|
|May 30 2022  |5    |30 |2022|
|May 24 2022  |5    |24 |2022|
|May 3 2022   |5    |3  |2022|
|April 15 2022|4    |15 |2022|
|April 6 2022 |4    |6  |2022|
|April 5 2022 |4    |5  |2022|
|April 5 2022 |4    |5  |2022|
|March 1 2022 |3    |1  |2022|
|Feb 23 2022  |2    |23 |2022|
|Feb 12 2022  |2    |12 |2022|
|Feb 8 2022   |2    |8  |2022|
|Feb 5 2022   |2    |5  |2022|
|Feb 3 2022   |2    |3  |2022|
|Jan 20 2022  |1    |20 |2022|
|Jan 18 2022  |1    |18 |2022|
|Jan 11 2022  |1    |11 |2022|
|Jan 9 2022   |1    |9  |2022|
|Jan 8 2022   |1    |8  |2022|
|Jan 7 2022   |1    |7  |2022|
|Jan 6 2022   |1    |6  |2022|
|Dec 28 2021  |12   |28 |2021|
|Dec 28 2021  |12   |28 |2021|
|Dec 25 2021  |12   |25 |2021|
|Dec 22 2021  |12   |22 |2021|
|Nov 30 2021  |11   |30 |2021|
|Nov 28 2021  |11   |28 |2021|
|Nov 27 2021  |11   |27 |2021|
+-------------+-----+---+----+
only showing top 100 rows

##